<!DOCTYPE html>
<html>
<title>Precision Agriculture Incubating System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/w3.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="shortcut icon" href="../img/logo.png" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>

</style>

<body>
    <div id="loginMask">
        <div id="logo"></div>
        <div id="kakao-login-btn" onClick="kakaoLogin()"></div>
    </div>
    <div id="addDeviceMask">
        <div onclick="popupClose()" style="position:fixed;width:100%;height:100%;"> </div>
        <h3 class="w3-text-white" style="margin-top:10%">Please select where the product will be placed.</h3>
        <div onclick="voidFunction()" id="addDeviceMap"></div>
    </div>

    <div id="mask" onclick="popupClose()"></div>
    <div class="popup borderRadius" style="width: 50%; height: 40%;" id="popup">
        <img id="popupImg" src="../img/farm_.jpg" alt="" style="width:100%;hegith:auto;">
    </div>

    <div style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-image: url('../img/farm.jpg'); background-size: cover; z-index: -2;"></div>
    <!-- 배경 어둡거나 색감 변경 하고 싶을때 -->
    <!-- <div style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,0.6); background-size: cover; z-index: -1;"></div> -->

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-opennav w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#" class="w3-bar-item w3-button w3-theme-l1"><b>SSL</b></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white" id="titleDate"></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white" id="titleText">Soil Moisture Information</a>

            <a href="#" class="w3-bar-item w3-white" style="position:relative; float:right; right:0px">English(US)</a>
            <a href="/weight" class="w3-bar-item w3-hover-white" style="position:relative; float:right; right:0px">한국어</a>
        </div>
    </div>
    <!-- Sidenav -->
    <nav class="w3-sidenav w3-collapse w3-animate-left w3-sidenav" id="mySidenav">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
            <i class="fa fa-remove"></i>
        </a>

        <div style="background-color:rgba(255,255,255,0.85);text-align:center;padding-top:1.5em;padding-bottom:1.5em;">
            <img src="../img/logo.png" style="width:9em;height:auto;" />
        </div>

        <h4><b>Menu</b></h4>
        <a href="#" onclick="showAddDevice()" class="w3-hover-black">Sensor Activation</a>
        <hr>
        <a id="tab-sensor" href="http://www.ezsmartfarm.com/en" class="w3-hover-black">Micro-Climate</a>
        <a id="tab-weight" href="#" class="w3-hover-black"><b>Soil Moisture <</b></a>
        <hr>
        <a id="tab-journal" href="http://www.ezsmartfarm.com/en/journal" class="w3-hover-black">Farming Daily Log</a>
        <hr>
        <a href="#" onclick="kakaoLogout()" class="w3-hover-black">Log Out</a>
    </nav>

    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor: pointer" title="close side menu" id="myOverlay"></div>

    <!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
    <div class="w3-main" style="margin-left: 220px;">


        <!-- 좌측 라인 -->
        <div class="w3-col w3-half" style="margin-top:38px">

            <div class="w3-container w3-alpha-black w3-margin">
                <h4 class="w3-text-white w3-border-bottom">Select Date</h4>
                <div style="width:100%;">
                    <div id="calendar"> </div>
                </div>
            </div>

            <div class="w3-container w3-alpha-black w3-margin">
                <h4 class="w3-text-white w3-border-bottom">Installation Locations</h4>
                <div id="googleMapWeight" style="height:30em;padding-bottom:2em;"></div>
            </div>


        </div>


        <!-- 우측 라인 -->
        <div class="w3-col w3-half" style="margin-top:38px">

            <div class="w3-container w3-alpha-black w3-margin">
                <h4 class="w3-text-white w3-border-bottom">Real-time Data</h4>

                <div>
                    <div style="width:50%;text-align:center;float:left;">
                        <div style="text-align:center;vertical-align:middle;width:100%;height:13em;background:url('../img/dial.png') no-repeat center;background-size:contain;">
                            <div style="line-height:13em;">
                                <h1 id="currentWeight"></h1>
                            </div>
                        </div>
                        <h5 class="w3-text-white">Channel Weight</h4>
                    </div>
                    <div style="width:50%;text-align:center;float:left;">
                        <div style="text-align:center;vertical-align:middle;width:100%;height:13em;background:url('../img/dial.png') no-repeat center;background-size:contain;">
                            <div style="line-height:13em;">
                                <h1 id="currentLiquid"></h1>
                            </div>
                        </div>
                            <h5 class="w3-text-white">Drainage Weight</h4>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-alpha-black w3-margin">
                <h4 class="w3-text-white w3-border-bottom">Weather and Forecast</h4>

                <div id="weather" style="text-align:center;">
                    <!-- 현재 날씨 -->
                    <div class="forecast_current">
                        <div style="width:100%; margin-bottom:0.5em;">
                            <div>
                                <div id="weatherImage_0" style="text-align:center;"> </div>
                            </div>
                            <div>
                                <h4 class="korea" id="temperatureHL_0" style="margin-bottom:0; margin-top:0.5em;"></h4>
                                <h2 class="korea" id="temperature_0" style="margin-bottom:0;"></h2>
                                <h4 class="korea" id="wind_0"></h4>
                            </div>
                        </div>
                    </div>

                    <!-- 향후 날씨 -->
                    <div style="width:50%; float:left;">
                        <div class="w3-border-left-dotted w3-border-bottom-dotted forecast_wrapper">
                            <div id="forecastDate_1" class="forecast_date"></div>
                            <div class="forecast_inner_wrapper">
                                <div id="weatherImage_1" class="forecast_img"></div>
                                <div id="temperatureHL_1" class="forecast_temperature"></div>
                            </div>
                        </div>
                        <div class="w3-border-left-dotted w3-border-bottom-dotted forecast_wrapper">
                            <div id="forecastDate_2" class="forecast_date"></div>
                            <div class="forecast_inner_wrapper">
                                <div id="weatherImage_2" class="forecast_img"></div>
                                <div id="temperatureHL_2" class="forecast_temperature"></div>
                            </div>
                        </div>
                        <div class="w3-border-left-dotted w3-border-bottom-dotted forecast_wrapper">
                            <div id="forecastDate_3" class="forecast_date"></div>
                            <div class="forecast_inner_wrapper">
                                <div id="weatherImage_3" class="forecast_img"></div>
                                <div id="temperatureHL_3" class="forecast_temperature"></div>
                            </div>
                        </div>
                        <div class="w3-border-left-dotted forecast_wrapper" style="padding-bottom:0;">
                            <div id="forecastDate_4" class="forecast_date"></div>
                            <div class="forecast_inner_wrapper" style="padding-bottom:0.5em;">
                                <div id="weatherImage_4" class="forecast_img"></div>
                                <div id="temperatureHL_4" class="forecast_temperature"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-alpha-black w3-margin">

                <span onclick="showComponentToggle('currentValuesTable', 'currentValuesTableMinus')" class="w3-hover-text-grey w3-closebtn">
                  <i id="currentValuesTableMinus" class="fa fa-minus-square-o"></i>
                </span>

                <h4 id="currentInfo_label" class="w3-text-white w3-border-bottom" style="margin-bottom: 0px">Real-time Nutrient Solution Supply Information</h4>

                <div class="w3-responsive" id="currentValuesTable">
                    <table class="w3-fixed-table-weight">
                        <tr class="w3-border-bottom-dotted">
                            <td class="w3-right-align"><i class="fa fa-tint fa-fw w3-margin-right w3-xlarge" aria-hidden="true"></i></td>
                            <td class="w3-left-align">The Number of Nutrient Solution Supply</td>
                            <td id="supply_number"></td>
                            <!-- <td class="w3-right-align"></td>
                            <td class="w3-left-align"></td> -->
                        </tr>
                        <tr class="w3-border-bottom-dotted">
                            <td class="w3-right-align"><i class="fa fa-clock-o fa-fw w3-margin-right w3-xlarge" aria-hidden="true"></i></td>
                            <td class="w3-left-align">Nutrient Solution Supply Time</td>
                            <td>
                                <table id="supply_time" style="width:100%"></table>
                            </td>
                            <!-- <td class="w3-right-align"></td>
                            <td class="w3-left-align"></td> -->
                        </tr>
                        <tr class="w3-border-bottom-dotted">
                            <td class="w3-right-align"><i class="fa fa-tint fa-fw w3-margin-right w3-xlarge" aria-hidden="true"></i></td>
                            <td class="w3-left-align">Total Amount of Nutrient Solution Supply</td>
                            <td id="supply"></td>
                            <!-- <td id="supply_condition_icon" class="w3-right-align"></td>
                            <td id="supply_condition_value" class="w3-left-align"></td> -->
                        </tr>
                        <tr class="w3-border-bottom-dotted">
                            <td class="w3-right-align"><i class="fa fa-tint fa-fw w3-margin-right w3-xlarge" aria-hidden="true"></i></td>
                            <td class="w3-left-align">Total Amount of Drainage</td>
                            <td id="use"></td>
                            <!-- <td id="use_condition_icon" class="w3-right-align"></td>
                            <td id="use_condition_value" class="w3-left-align"></td> -->
                        </tr>
                        <tr class="w3-border-bottom-dotted">
                            <td class="w3-right-align"><i class="fa fa-sun-o fa-fw w3-margin-right w3-xlarge" aria-hidden="true"></i></td>
                            <td class="w3-left-align">Crop Fresh Weight<br/>(predictive value)</td>
                            <td id="plantWeight"></td>
                            <!-- <td id="plantWeight_condition_icon" class="w3-right-align"></td>
                            <td id="plantWeight_condition_value" class="w3-left-align"></td> -->
                        </tr>
                        <tr class="w3-border-bottom-dotted">
                            <td class="w3-right-align"><i class="fa fa-tint fa-fw w3-margin-right w3-xlarge" aria-hidden="true"></i></td>
                            <td class="w3-left-align">Evapotranspiration<br/>(predictive value)</td>
                            <td id="eva"></td>
                            <!-- <td id="eva_condition_icon" class="w3-right-align"></td>
                            <td id="eva_condition_value" class="w3-left-align"></td> -->
                        </tr>
                    </table>
                </div>
            </div>


        </div>

        <div class="w3-col w3-container w3-alpha-black w3-margin" style="width:98%;">
            <h4 class="w3-text-white w3-border-bottom">
                Daily Variation Chart(Combined)
                <!-- <a id="weightDataDown" class="downloadLink" href="#">[Data Download]</a> -->
                <span id="download" class="downloadLink" onclick="downloadCalPopupShow()">[Data Download]</span>
                <div id="downloadMask">
                    <div style="width:20%; position:absolute; background-color:#000; border:1px solid #38393a; left:21.5%; z-index:10; float:left; text-align:center; color:#fff; font-size:.8em; padding-top:10px;">
                        <h3>Please Set Date Range for Download</h3>
                        <table align="center">
                            <tr>
                                <td><b>Start Date</b></td>
                                <td><input id="downloadStartDate" type="text" data-role="date" value="" onFocus="this.blur()"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><h3> ▼ </h3></td>
                            </tr>
                            <tr>
                                <td><b>End Date</b></td>
                                <td><input id="downloadEndDate" type="text" data-role="date" value="" onFocus="this.blur()"></td>
                            </tr>
                        </table>
                        <button id="downloadDataButton" onclick="downloadData()" style="margin-top:5%; margin-bottom:5%;">Download</button>
                    </div>
                </div>
            </h4>
            <div id="graphAll"></div>
        </div>

        <div class="w3-col w3-container w3-alpha-black w3-margin" style="width:98%;">
            <h4 class="w3-text-white w3-border-bottom">Daily Variation Chart</h4>
            <div id="changeGraph"></div>
        </div>


        <!-- END MAIN -->
    </div>

    <script>
        $("#downloadStartDate, #downloadEndDate").datepicker({ dateFormat: 'yy-mm-dd' });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?language=ko&key=AIzaSyBSkR33JkUiPWn2cHRtt4yJb5nGme0_j2I"></script>
    <script src="../js/weight_en.js"></script>
    <script src="../js/common_en.js"></script>
    <script src="../js/lib/cookie.js"></script>
    <script src="../js/lib/kalmanFilter.js"></script>
    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/jquery.simpleWeather.js"></script>
    <!-- <script src="js/lib/jquery.panzoom.min.js"></script> -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
        var selectedPosition = '35,48.6';
        $(document).ready(function() {
            var cookie_token = getCookie(cookie_accessToken);
            if (cookie_token == "") { //기존에 로그인되어 있을경우
                $("#loginMask").css("display", "block");
            } else { //로그인 되어 있을때
                //저장되어 있는 토큰 유효성 검사 후 화면 출력
                serialListCheck();
                createMapWeight();
                drawCalendar();
                $('#titleDate').html(getFormatingDate(new Date()));
                //$('#title').html("센서 현황 [" + today + "]");

                setHighchartsOption();

                //다운로드 창 밖에 클릭시 사라지게
                $(document).mouseup(function (e) {
                   var downloadPopup = $('#downloadMask');
                   var datePicker = $('#ui-datepicker-div');
                   if (downloadPopup.has(e.target).length === 0 && datePicker.has(e.target).length === 0) { downloadPopup.hide()} //container.style.display = 'none';
                });
            }
        });
    </script>

</body>

</html>
