<!DOCTYPE html>
<html>
<title>정밀 온실 시스템</title>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="stylesheet" href="../css/index1.css">
<body>
	<header>
<!-- 		<div class="header-bg">
			<span class="header-title">시스템 관리</span>
		</div> -->
	</header>
	<ul>
		<li>access token</li>
		<li><input type="text" id = "input_access_token"></li>
		<li><input type="button" value = "확인" onclick="access()"></li>
	</ul>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="../js/management.js"></script>
	<script src="../js/test.js"></script>
	<script src="http://crypto.stanford.edu/sjcl/sjcl.js"></script>
	<script>

		$(document).ready(function(){
			
		});
		
	</script>
</body>
</html>
