	<div class="section">
		<h2>센서 등록</h2>
		<ul class ="register-serial">
			<li><b>신규 등록 시리얼</b></li>
			<li><input id="serial_input" type="text" style="text-align:center;"></li>
			<li><label style="font-size:8px">등록할 시리얼을 입력하여 주세요.</label></li>
			<li><input type="button" style="margin-top:16px" value="등록" onclick="clickInsertSensor()"></li>
		</ul>
	</div>
