<!DOCTYPE html>
<html>
<title>정밀 온실 시스템</title>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="stylesheet" href="css/index.css">
<body>
	<header>
		<h1>시스템 관리</h1>
	</header>
	<div class="section">
		<h2>센서 등록</h2>
	</div>
	<div class="section">
		<h2>센서 연결 상태 확인</h2>
		<ul id = "sensors">
			
		</ul>
	</div>
	<div class="section">
		<h2>서버 상태 확인</h2>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="js/management.js"></script>
	<script src="js/test.js"></script>
	<script src="http://crypto.stanford.edu/sjcl/sjcl.js"></script>
	<script>
		$(document).ready(function(){
			setSensorList();
		});
	</script>
</body>