<!DOCTYPE html>

<header style="margin:0px">
	<div class="userInfo">
		<img src="../img/manager.png" style="width:186px;height:75px;float:left;">
		<div style="display:inline-block;float:left;margin-left:32px;margin-top:24px"><label class="hello"><%=nickname%></label></div>	
		<div class="user_logout">
			<a href="/auth/logout" class = "btn_logout">로그아웃</a>
		</div>
	</div>
	<div style="clear:both;"></div>
	<ul class="menu-top">
		<li class="menu-top-li"><a href = '/management/1' class="menu-top-item">센서 등록</a></li>
		<li class="menu-top-li"><a href = '/management/2' class="menu-top-item">센서 상태 확인</a></li>
	</ul>
	<ul class="menu-selector">
		<li class="menu-selector-li" id="menu1"></li>
		<li class="menu-selector-li" id="menu2"></li>
	</ul>
	<div id="inc" style="height:2px;background:#191f2d"></div>
</header>
<div style="clear:both;"></div>
<% if(id==1){%>
<%include ./addsensor.ejs%><%}%>
<% if(id==2){%>
<%include ./sensor-state.ejs%><%}%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../js/management.js"></script>
<script src="../js/test.js"></script>
<script src="http://crypto.stanford.edu/sjcl/sjcl.js"></script>
<script>

	$(document).ready(function(){
		setSensorList();
		$("#find-sensor").keyup(function() {
			findSensor();
		});

		var id = <%=id%>;
		console.log(id == 1);
		if(id==1){
			console.log(id == 1);
			$('#menu1').attr('class','menu-selector-li-selected');
			$('#menu2').attr('class','menu-selector-li');
		}else if(id ==2){
			$('#menu1').attr('class','menu-selector-li');
			$('#menu2').attr('class','menu-selector-li-selected');
		}		
	});
	$(window).load(function(){
		var placeholderTarget = $('.textbox input[type="text"], .textbox input[type="password"]');
		placeholderTarget.on('focus', function(){ 
			$(this).siblings('label').fadeOut('fast'); 
		});
		placeholderTarget.on('focusout', function(){ 
			if($(this).val() == ''){ 
				$(this).siblings('label').fadeIn('fast'); 
			}
			if($(this).val() != ''){ 
				$(this).siblings('label').fadeOut('fast');
			} 
		});
		placeholderTarget.each(function(){ if($(this).val() != ''){ $(this).siblings('label').css('display','none'); } });
		placeholderTarget.on('textchange', function(){ $(this).siblings('label').fadeOut('fast'); });

		$("#sensor_check_all" ).click(function(){
			console.log($("#sensor_check_all").prop("checked"));
			if($("#sensor_check_all").prop("checked")){
				$("input[name=sensor_chk]").prop('checked', true);
			}else{
				$("input[name=sensor_chk]").prop('checked', false);
			}
		});
	});
</script>

