<!DOCTYPE html>
<html>
<title>정밀 온실 시스템</title>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="stylesheet" href="../css/index.css">
<body>
	<header>
		<h1>시스템 관리</h1>
	</header>
	<div style="clear:both;"></div>

	<div class="section">
		<h2>센서 등록</h2>
		<ul class ="register-serial">
			<li><b>신규 등록 시리얼</b></li>
			<li><input id="serial_input" type="text" style="text-align:center;"></li>
			<li><label style="font-size:8px">등록할 시리얼을 입력하여 주세요.</label></li>
			<li><input type="button" style="margin-top:16px" value="등록" onclick="clickInsertSensor()"></li>
		</ul>

		<h2>센서 삭제</h2>
		<ul class ="register-serial">
			<li><b>삭제할 시리얼</b></li>
			<li><input id="serial_delete" type="text" style="text-align:center;"></li>
			<li><label style="font-size:8px">삭제할 시리얼을 입력하여 주세요.</label></li>
			<li><input type="button" style="margin-top:16px" value="삭제" onclick="clickDeleteSensor()"></li>
		</ul>
	</div>
	<div class="section">
		<h2>센서 연결 상태 확인</h2>
		<input id = "find-sensor" type="text" style="width:150px;margin-left:75px;text-align:center;">
		<div class="view">
			<div class="scrollBlind">
				<ul id = "sensors">
					
				</ul>
			</div>
		</div>
	</div>
	<div class="section">
		<h2 id ="selected-sensor">영점 설정</h2>
		<div style="text-align: center;margin-bottom:10px;">
		</div>
		<div>
			<label class = "label_zeropoint_tag">요소</label>
			<label class = "label_zeropoint_tag">영점</label>
			<label class = "label_zeropoint_tag">현재 값</label>
		</div>

		<div>
			<b class="zeropoint-label">배액저울</b>
			<input id ="medium_weight_input" type="text" style="width:80px">
			<label id = "medium_weight_text" class = "label_current_value"></label>
		</div>
		<div>
			<b class="zeropoint-label">배지저울</b>
			<input id ="drain_weight_input" type="text" style="width:80px">
			<label id = "drain_weight_text" class = "label_current_value"></label>
		</div>
		<div>
			<b class="zeropoint-label">ec</b>
			<input id ="ec_input" type="text" style="width:80px">
			<label id = "ec_text" class = "label_current_value"></label>
		</div>
		<div>
			<b class="zeropoint-label">ph</b>
			<input id ="ph_input" type="text" style="width:80px">
			<label id = "ph_text" class = "label_current_value"></label>
		</div>
		<div>
			<b class="zeropoint-label">co2</b>
			<input id ="co2_input" type="text" style="width:80px">
			<label id = "co2_text" class = "label_current_value"></label>
		</div>

		<input type="button" value = "설정" style = "margin-top:25px;margin-right:25px;float:right;" onclick="setZeropoint()";>
		<input type="button" value = "현재 값" style = "margin-top:25px;margin-right:25px;float:right;" onclick="clickReadCurrentValue()";>

		<h2 id ="selected-sensor" style="margin-top:80px">카메라 IP 설정</h2>
		<div style="text-align: center;margin-bottom:10px;">
		</div>

		<div>
			<b class="zeropoint-label">IP  http://</b>
			<input id ="ip" type="text" style="width:160px">
		</div>
		<label class = "label_current_value">현재 IP</label>
		<label id = "IP_text" class = "label_current_value" style="margin-left:40px"></label>
		<input type="button" value = "설정" style = "margin-top:25px;margin-right:25px;float:right;" onclick="setIP()";>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="../js/management.js"></script>
	<script src="../js/test.js"></script>
	<script src="http://crypto.stanford.edu/sjcl/sjcl.js"></script>
	<script>
		$(document).ready(function(){
			setSensorList();
			 $("#find-sensor").keyup(function() {
				findSensor();
			});
		});
	</script>
</body>
</html>
