<!DOCTYPE html>
<div class="section">
	<div style="width:250px;margin:auto;margin-left:35%;margin-top:16px">
		<div class="textbox">
			<img src="../img/finder.png">
			<label for="id">시리얼</label>
			<input type="text" id = "find-sensor">
		</div>		
	</div>

	<div class="view">
		<div style="width:100%">
			<ul class="sensor-top-card-box">
				<li style="width:5%"></li>
				<li style="width:3%"><input type="checkbox" id="sensor_check_all" value="0"></li>
				
				<li>시리얼</li>
				<li>이름</li>
				<li>센서 URL</li>
				<li>카메라 URL</li>
				<li>마지막 업데이트</li>
				<li style="width:5%"></li>
			</ul>
		</div>
		<div class="scrollBlind">
			<ul id = "sensors" class="sensor-list">
				
			</ul>
		</div>
	</div>
	<input type="button" value="선택 삭제" onclick="deleteSensors()" style="float:left">
	<div style="margin-top:16px;margin-left:8%;font-size:12px;float:left">
		<div style="width:12px;height:12px;background:#FEAF20;float:left;margin-left:10px"></div><label style="float:left;font-size:12px;margin-left:2px">데이터 없음</label>
		<div style="width:12px;height:12px;background:#d73814;float:left;margin-left:10px"></div><label style="float:left;font-size:12px;margin-left:2px">연결 끊김</label>
		<div style="width:12px;height:12px;background:#80D651;float:left;margin-left:10px"></div><label style="float:left;font-size:12px;margin-left:2px">연결 중</label>
	</div>
	<div style="clear:both"></div>
</div>