<!DOCTYPE html>
<div class="section">
	<h2>센서 관리</h2>
	<div style="width:250px;margin:auto;">
		<input id = "find-sensor" class="input__field input__field--minoru" type="text"/>
		<span class="input__label-content input__label-content--minoru">Serial</span>
	</div>

	<div class="view">
		<div class="scrollBlind">
			<ul class="sensor-top">
				<li>시리얼</li>
				<li>명칭</li>
				<li>url</li>
				<li>등록여부</li>
				<li></li>
			</ul>

			<ul id = "sensors" class="sensor-list">
				
			</ul>
		</div>
	</div>
</div>

<div class="section-zeropoint" id = "zeropoint" style="display:none">
	<h2 id ="selected-sensor">영점 설정</h2>
	<div style="text-align: center;margin-bottom:10px;">
	</div>
	<div style="width:250px;margin:auto;">
		<span id = "drain_weight_text" style="font-size: 12px;">배액저울</span>
		<input id = "drain_weight_input" class="input__field input__field--minoru" type="text"/>
	</div>
	<div style="width:250px;margin:auto;">
		<span  id = "medium_weight_text" style="font-size: 12px;">배지저울</span>
		<input id = "medium_weight_input" class="input__field input__field--minoru" type="text"/>
	</div>
	<div style="width:250px;margin:auto;">
		<span id = "ec_text" style="font-size: 12px;">ec</span>
		<input id = "ec_input" class="input__field input__field--minoru" type="text" />
	</div>
	<div style="width:250px;margin:auto;">	
		<span id = "ph_text" style="font-size: 12px;">ph</span>
		<input id = "ph_input" class="input__field input__field--minoru" type="text"/>
	</div>
	<div style="width:250px;margin:auto;">	
		<span id = "co2_text" style="font-size: 12px;">co2</span>
		<input id = "co2_input" class="input__field input__field--minoru" type="text"/>
	</div>
	<input class="button" type="button" value = "닫기" style = "margin-top:25px;margin-right:8px;float:right;" onclick="closeZeropoint()";>
	<input class="button" type="button" value = "설정" style = "margin-top:25px;margin-right:8px;float:right;" onclick="setZeropoint()";>
	<input class="button" type="button" value = "현재 값" style = "margin-top:25px;margin-right:8px;float:right;" onclick="clickReadCurrentValue()";>
</div>