<div class="section-zeropoint" id = "zeropoint">
	</br>
	<label class="label_small_name_zeropoint">현재값</label><input class="button" type="button" value = "현재 값" onclick="clickReadCurrentValue()";>
	</br>
	</br>

	<ul class="zeropoint-label">
		<li><div class="zeropoint-box"><span id = "drain_weight_text"></span></div></li>
		<li><div class="zeropoint-box"><span  id = "medium_weight_text"></span></div></li>
		<li><div class="zeropoint-box"><span id = "ec_text"></span></div></li>
		<li><div class="zeropoint-box"><span id = "ph_text"></span></div></li>
		<li><div class="zeropoint-box"><span id = "co2_text"></span></div></li>
		<li></li>
		<li></li>
	</ul>
	<ul class="zeropoint-label">
		<li><div class="zeropoint-box">배액저울</div></li>
		<li><div class="zeropoint-box">배지저울</div></li>
		<li><div class="zeropoint-box">EC</div></li>
		<li><div class="zeropoint-box">PH</div></li>
		<li><div class="zeropoint-box">CO2</div></li>
		<li></li>
		<li></li>
	</ul>
	<div style="clear:both;">
	</br>
	<label class="label_small_name_zeropoint">영점</label><input class="button" type="button" value = "설정" onclick="setZeropoint()";>
	</br>
	</br>
	<ul class="sensor-top">
		<li>		
			<div class="textbox">
				<label for="drain_weight_input">배액저울</label>
				<input type="text" id = "drain_weight_input" style="width:90%;">
			</div>	
		</li>
		<li>		
			<div class="textbox">
				<label for="medium_weight_input">배지저울</label>
				<input type="text" id = "medium_weight_input" style="width:90%;">
			</div>	
		</li>
		<li>		
			<div class="textbox">
				<label for="ec_input">EC</label>
				<input type="text" id = "ec_input" style="width:90%;">
			</div>	
		</li>
		<li>		
			<div class="textbox">
				<label for="ph_input">PH</label>
				<input type="text" id = "ph_input" style="width:90%;">
			</div>	
		</li>
		<li>		
			<div class="textbox">
				<label for="co2_input">CO2</label>
				<input type="text" id = "co2_input" style="width:90%;">
			</div>	
		</li>
		<li></li>
		<li></li>
	</ul>

	</br>
	<label class="label_small_name_zeropoint">IP</label><input class="button" type="button" value = "설정" onclick="setIP()";>
	</br>
	</br>
	<ul class="sensor-top">
		<li>		
			<div class="textbox">
				<label for="ip">센서IP</label>
				<input type="text" id = "ip" style="width:95%;">
			</div>	
		</li>
		<li>		
			<div class="textbox">
				<label for="IP_text">카메라 IP</label>
				<input type="text" id = "IP_text" style="width:95%;">
			</div>	
		</li>
		<li>		
			<div class="textbox">
		
			</div>	
		</li>
		<li>		
			<div class="textbox">
				
			</div>	
		</li>
	</ul>
		
	
	<!-- <input class="button" type="button" value = "닫기" style = "margin-top:25px;margin-right:8px;float:right;" onclick="closeZeropoint()";> -->
	
	
</div>