<div class="w3-container w3-alpha-black w3-margin">
    <span onclick="showComponentToggle('dailyVPD_HDPieChart', 'dailyVPD_HDPieChartMinus')" class="w3-hover-text-grey w3-closebtn">
        <i id="dailyVPD_HDPieChartMinus" class="fa fa-minus-square-o"></i>
    </span>
    <h4 class="w3-text-white w3-border-bottom">일일 VPD&HD 적합성</h4>
    <div id="dailyVPD_HDPieChart">
        <div id="vpdPieChart" style="width:50%; height:auto; float:left"></div>
        <div id="hdPieChart" style="width:50%; height:auto; float:left"></div>
    </div>
</div>