<div class="w3-container w3-alpha-black w3-margin">
    <span onclick="showComponentToggle('dailyVPD_HDPieChart', 'dailyVPD_HDPieChartMinus')" class="w3-hover-text-grey w3-closebtn">
        <i id="dailyVPD_HDPieChartMinus" class="fa fa-minus-square-o"></i>
    </span>
    <h4 class="w3-text-white w3-border-bottom" data-langLabel="tb_VPDSuitability">일일 VPD&HD 적합성</h4>
    <div id="dailyVPD_HDPieChart">
      <div class="w3-half">
          <div id="vpdPieChart" style="height:350px;"></div>
          <div id="vpdPieLegend" style="width:100%; text-align:center"><img style="width:60%"  src="img/fiveLevelLegend.png" alt="" /></div>
      </div>
      <div class="w3-half">
          <div id="hdPieChart" style="height:350px;"></div>
          <div id="hdPieLegend"style="width:100%; text-align:center"><img style="width:60%" src="img/fiveLevelLegend.png" alt="" /></div>
      </div>
    </div>
</div>