<header>
    <div id="loginMask">
        <div id="logo"></div>
        <div id="kakao-login-btn" onClick="kakaoLogin()"></div>
    </div>
    <div id="addDeviceMask">
        <div onclick="popupClose()" style="position:fixed;width:100%;height:100%;"> </div>
        <h3 class="w3-text-white" style="margin-top:10%">제품이 배치될 장소를 선택해주세요.</h3>
        <div onclick="voidFunction()" id="addDeviceMap"></div>
    </div>

    <div id="mask" onclick="popupClose()"></div>
    <div id="serialMask" style ="width:100%;height:100%;background-color: rgba(0, 0, 0, 0.8);z-index: 10002;position: fixed;display: none;">
        <div style ="width:100%;height:100%;position: fixed;z-index: 10003" onclick="popupClose()"></div>
        <div style="margin-left:37%;margin-top:10%;width:26%;background-color:rgb(255,255,255);position:fixed;z-index:10004">
            <div style = "border:2px solid grey;padding-left:64px">
                <h3 style="font-size:24px;" class="w3-text-black" style="">제품키 등록</h3>
                <h3 style="font-size:12px;">제품에 표시된 제품키를 입력하세요.</h3>
                <div style="padding-right:64px;"><input style = "width:100%;" id = "serial2insert" type="text" placeholder="Serial*"></div>
                <div style="margin-top:20px;text-align:right;padding-right:64px;"><input type="button" value="등 록" style="color: #6496c8;background: rgba(0,0,0,0);border: solid 2px #6496c8;"onclick="clickInsert()"></div>
                <div style="height:10px"></div>
            </div>
        </div>
    </div>
    <div class="popup borderRadius" style="width: 50%; height: 40%;" id="popup">
        <img id="popupImg" src="img/farm_.jpg" alt="" style="width:100%;hegith:auto;">
    </div>

    <div style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-image: url('../img/farm.jpg'); background-size: cover; z-index: -2;"></div>
    <!-- 배경 어둡거나 색감 변경 하고 싶을때 -->
    <!-- <div style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,0.6); background-size: cover; z-index: -1;"></div> -->

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-opennav w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#" class="w3-bar-item w3-button w3-theme-l1"><b>SSL</b></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white" id="titleDate"></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white" id="titleText">미기후 정보</a>

            <a href="/en" class="w3-bar-item w3-hover-white" style="position:relative; float:right; right:0px">English(US)</a>
            <a href="#" class="w3-bar-item w3-white" style="position:relative; float:right; right:0px">한국어</a>
        </div>
    </div>
        <!-- Sidenav -->
    <nav class="w3-sidenav w3-collapse w3-animate-left" id="mySidenav">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <div style="background-color:rgba(255,255,255,0.85);text-align:center;padding-top:1.5em;padding-bottom:1.5em;">
            <img src="img/logo.png" style="width:9em;height:auto;" />
        </div>
        <h4><b>Menu</b></h4>
        <a href="#" onclick="showAddDevice()" class="w3-hover-black">제품 등록</a>
        <hr>
        <a id="tab-sensor" href="http://112.184.93.4" class="w3-hover-black"><b>미기후 정보 <</b></a>
        <a id="tab-weight" href="http://112.184.93.4/weight" class="w3-hover-black">배지 정보</a>
        <hr>
        <a id="tab-journal" href="http://112.184.93.4/journal" class="w3-hover-black">영농 일지</a>
        <hr>
        <a id="tab-actuator" href="http://112.184.93.4/actuator" class="w3-hover-black" style = "visibility:hidden;">온실제어</a>
        <hr id = "div-actuator" style = "visibility:hidden;">
        <a href="#" onclick="kakaoLogout()" class="w3-hover-black">로그아웃</a>
    </nav>
</header>