    <div class="w3-top">
        <div class="w3-bar w3-theme w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-opennav w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#" class="w3-bar-item w3-button w3-theme-l1"><b>SSL</b></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white" id="titleDate"></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white" id="titleText">미기후 정보</a>

            <a href="/en" class="w3-bar-item w3-hover-white" style="position:relative; float:right; right:0px">English(US)</a>
            <a href="#" class="w3-bar-item w3-white" style="position:relative; float:right; right:0px">한국어</a>
        </div>
    </div>