<nav class="w3-sidenav w3-collapse w3-animate-left" id="mySidenav">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
        <i class="fa fa-remove"></i>
    </a>
    <div style="background-color:rgba(255,255,255,0.85);text-align:center;padding-top:1.5em;padding-bottom:1.5em;">
        <img src="img/logo.png" style="width:9em;height:auto;" />
    </div>
    <h4><b>Menu</b></h4>
    <a href="#" onclick="showAddDevice()" class="w3-hover-black">제품 등록</a>
    <hr>
    <a id="tab-sensor" href="http://211.230.136.100" class="w3-hover-black"><b>미기후 정보 <</b></a>
    <a id="tab-weight" href="http://211.230.136.100/weight" class="w3-hover-black">배지 정보</a>
    <hr>
    <a id="tab-journal" href="http://211.230.136.100/journal" class="w3-hover-black">영농 일지</a>
    <hr>
    <a id="tab-actuator" href="http://211.230.136.100/actuator" class="w3-hover-black" style = "visibility:hidden;">온실제어</a>
    <hr id = "div-actuator" style = "visibility:hidden;">
    <a href="#" onclick="kakaoLogout()" class="w3-hover-black">로그아웃</a>
</nav>