<nav class="w3-sidenav w3-collapse w3-animate-left" id="mySidenav">

    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">

        <i class="fa fa-remove"></i>

    </a>



    <div style="background-color:rgba(255,255,255,0.85);text-align:center;padding-top:1.5em;padding-bottom:1.5em;">
        <img src="img/logo.png" style="width:9em;height:auto;" />
    </div>

    <h4><b>Menu</b></h4>


    <section style="padding: 0 10px">
        <ul class="sideNav_ul">
            <li>
                <a  id="tab-climate" href="/" class="w3-hover-black" data-langLabel='menu_climate'>미기후 정보</a>
            </li>
            <li>
                <a id="tab-weight" href="/weight" class="w3-hover-black" data-langLabel='menu_weight'>배지 정보</a>
            </li>
        </ul>
    </section>

    <section style="padding: 0 10px">

        <h3 class="border-white-bottom"></h3>

        <ul class="sideNav_ul">
            <li>

                <span><a id="tab-journal" href="/journal" class="w3-hover-black" data-langLabel='menu_journal'>영농 일지</a></span>

            </li>

            <li>

                <span><a href="/imgViewer" class="w3-hover-black">영농 앨범</a></span>

            </li>

        </ul>

    </section>



    <section style="padding: 0 10px">

        <h3 class="border-white-bottom"></h3>

        <ul class="sideNav_ul">

            <li style="list-style-type: none">

                <span><a href="/compare" class="w3-hover-black">주 단위 온실환경 비교</a></span>

            </li>

        </ul>

    </section>


    <!--
    <section style="padding: 0 10px">

        <h3 class="border-white-bottom"></h3>

        <ul class="sideNav_ul">

            <li style="list-style-type: none">

                <span><a href="/actuator" class="w3-hover-black">시설 제어</a></span>

            </li>

        </ul>

    </section>
    -->


    <section style="padding: 0 10px">

        <h3 class="border-white-bottom"></h3>

        <ul class="sideNav_ul">

            <li style="list-style-type: none">

                <span><a id="tab-sensor" href="#" onclick="showAddDevice()" class="w3-hover-black" data-langLabel='menu_addSensor'>제품 등록</a></span>

            </li>

            <li style="list-style-type: none">

                <a id="tab-logout" href="/" onclick="kakaoLogout()" class="w3-hover-black" data-langLabel='menu_logout'>로그아웃</a>

            </li>

        </ul>

    </section>

</nav>

