    <div id="loginMask">
        <div id="logo"></div>
        <div id="kakao-login-btn" onClick="kakaoLogin()"></div>
    </div>
    <div id="addDeviceMask">
        <div onclick="popupClose()" style="position:fixed;width:100%;height:100%;"> </div>
        <h3 class="w3-text-white" style="margin-top:10%">제품이 배치될 장소를 선택해주세요.</h3>
        <div onclick="voidFunction()" id="addDeviceMap"></div>
    </div>

    <div id="mask" onclick="popupClose()"></div>
    <div id="serialMask" style ="width:100%;height:100%;background-color: rgba(0, 0, 0, 0.8);z-index: 10002;position: fixed;display: none;">
        <div style ="width:100%;height:100%;position: fixed;z-index: 10003" onclick="popupClose()"></div>
        <div style="margin-left:37%;margin-top:10%;width:26%;background-color:rgb(255,255,255);position:fixed;z-index:10004">
            <div style = "border:2px solid grey;padding-left:64px">
                <h3 style="font-size:24px;" class="w3-text-black" style="">제품키 등록</h3>
                <h3 style="font-size:12px;">제품에 표시된 제품키를 입력하세요.</h3>
                <div style="padding-right:64px;"><input style = "width:100%;" id = "serial2insert" type="text" placeholder="Serial*"></div>
                <div style="margin-top:20px;text-align:right;padding-right:64px;"><input type="button" value="등 록" style="color: #6496c8;background: rgba(0,0,0,0);border: solid 2px #6496c8;"onclick="clickInsert()"></div>
                <div style="height:10px"></div>
            </div>
        </div>
    </div>
    
    <div class="popup borderRadius" style="width: 50%; height: 40%;" id="popup">
        <img id="popupImg" src="img/farm_.jpg" alt="" style="width:100%;hegith:auto;">
    </div>

    <!-- Video Stream Popup -->
    <div id="ptzPopup">
        <img id="camStream" style="width:100%; border:2px solid grey;" src="">
        <div class="ptz-ctl-box">
            <div class="ptz-pad-box">
                <button type="button" class="ptz-goto-home"><span class="glyphicon glyphicon-home"></span></button>
                <span class="left glyphicon glyphicon-menu-left" onmousedown="ptz_onmousedown(3)" onmouseup="ptz_onmouseup(3)">◀</span>
                <span class="right glyphicon glyphicon-menu-right" onmousedown="ptz_onmousedown(5)" onmouseup="ptz_onmouseup(5)">▶</span>
                <span class="up glyphicon glyphicon-menu-up" onmousedown="ptz_onmousedown(0)" onmouseup="ptz_onmouseup(0)">▲</span>
                <span class="down glyphicon glyphicon-menu-down" onmousedown="ptz_onmousedown(7)" onmouseup="ptz_onmouseup(7)">▼</span>
            </div>
        </div>
    </div>

    <div style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-image: url('../img/farm.jpg'); background-size: cover; z-index: -2;"></div>
    <!-- 배경 어둡거나 색감 변경 하고 싶을때 -->
    <!-- <div style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,0.6); background-size: cover; z-index: -1;"></div> -->