<div class="w3-container w3-alpha-black w3-margin">
    <span onclick="showComponentToggle('googleMap', 'googleMapMinus')" class="w3-hover-text-grey w3-closebtn">
        <i id="googleMapMinus" class="fa fa-minus-square-o"></i>
     </span>
    <h4 class="w3-text-white w3-border-bottom" data-langLabel='tb_installationLocation'>설치 위치 정보</h4>
    <div id="googleMap" style="height:30em;padding-bottom:2em;"></div>
</div>